.imgbg {
  background-image: url(../assets/img/coffebg.jpg);
  padding-bottom: 60px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 60px;
}
.infoBlock {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.smalltitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}
.leftblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: 346px;
    height: 232px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
}
.filterblock {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
