.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  color: #ffffff;
  margin-top: 60px;
}
.filterblock {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.coffeeContent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
